{% extends 'base.html.twig' %}

{% block title %}New Main{% endblock %}

{% block body %}
<div class="container-fluid my-4">
    <h1 class="text-center mb-4">Create New Main</h1>

    <div class="row justify-content-center">
        <div class="col-12">
            {{ include('main/_form.html.twig') }}
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-primary" href="{{ path('app_main_index') }}">Back to List</a>
    </div>
</div>
{% endblock %}
